@import "constants.css";

.container {
  min-height: 90vh !important;
}
.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
}

.card {
  display: block;
  top: 80px;
  margin: 0 auto;
  padding: 70px;
  width: 1270px;
  border-radius: 3200px;
  border-width: 13px;
  border-color: var(--primary-color);
  font-family: "Tilt Neon", cursive;
}
footer {
  padding: 10px;
}
