.today {
  text-align: center;
}
.city {
  font-size: 38px;
}
.current-day {
  font-size: 15px;
  align-content: center;
}

.temp-today {
  font-size: 27px;
}
.icon-desc,
.weather-description {
  font-size: 17px;
}
.weather-description {
  list-style-type: none;
}
.btn-geo {
  color: var(--secondary-color);
  border-color: transparent;
  border-radius: 20px;
  background: var(--primary-color);
  opacity: 0.6;
}
